@model Vidly.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div class="btn-toolbar" role="toolbar" arial-label="Toolbar with button groups" id="socialLoginList">
                
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <div class="btn-group btn-group-lg" role="group" aria-label="@p.Caption group">
                            @{
                                var className = p.Caption.Equals("Facebook") ? "btn-outline-primary" : "btn-outline-danger";
                            }
                            <button type="submit" class="btn  @className" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="ion-social-@p.Caption.ToLower()-outline"></i></button>

                      </div>





                     }
                
            </div>
        }
    }
}
