@model Vidly.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h5 style="text-align: center;">Or</h5>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div class="row"  id="socialLoginList">
                
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <div class="col-md-6 btn-group" role="group" aria-label="@p.Caption group">
                            @{
                                var className = p.Caption.Equals("Facebook") ? "btn-primary" : "btn-danger";
                            }
                       
                            <button type="submit"style="cursor: pointer;display: inline" class="@className form-control" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><span style="float: left; padding:0 1em 0 0; border-right: 1px solid white;" class="  ion-social-@p.Caption.ToLower()"></span>@p.Caption</button>
                            
                      </div>





                     }
                
            </div>
        }
    }
}
