@using Vidly.Models
@using Vidly.ViewModels
@model Vidly.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section Rentals
{<link rel="stylesheet" type="text/css" href="~/Content/new-rental.css"/>}
<div   class="row justify-content-center">
<div  class="col-xs-4">
    <div  class="card align-self-center" style="width: 23rem; background-color: rgba(52,58,64,0.25);">
        <div class="card-body">
            <h4 style="text-align: center;" class="card-title ">Vidly</h4>
            <p class="card-text">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form",@id="parentform" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            
                            <div >
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@placeholder="E-Mail"})
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                           
                            <div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control",@placeholder="Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 ">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" style="cursor: pointer" value="Log in" class="btn btn-primary form-control" />
                            </div>
                        </div>
                
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                    }
                </section>
                <div>
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
                    </section>
                
                </div>
            </p>
            <div class="card-link">
                <p>
                    
                    @Html.ActionLink("Register as a new user", "Register", new {area = ""}, new {@class = "card-link"})
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row" ><p>
            
            @TempData["message"]
        </p></div>
      
        
    </div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function() {
            $("#parentform").find("input.form-control").each(function(key, value) {
                if ($(value).attr("id") !== undefined) {

                    var element = $(value).attr("id");
                    required(element);
                    putclose(element);

                }

            });
            function putclose(inputElement) {
                var inputElementid = "#" + inputElement;
                var closeiconid = "#close" + inputElement;
                var parentid = $(inputElementid).parent();
                $(parentid).css('position', 'relative');
                $(parentid).on("click",
                    closeiconid,
                    function() {

                        $(inputElementid).val('');
                        $(closeiconid).remove();
                    });

                $(inputElementid).on("keyup",
                    function() {

                        if (($(inputElementid).val().length > 0) && ($(closeiconid).length === 0)) {
                            var closeIcon = $((document).createElement("span")).addClass("ion-backspace")
                                .attr('id', 'close' + inputElement).css({
                                    "position": "absolute",
                                    "top": "0",
                                    "bottom": "0",
                                    "height": "25px",
                                    "right": "10px",
                                    "margin-top": "5px",
                                    "font-size": "120%",
                                    "cursor": "pointer",
                                    "color": "darkgray",
                                    "transition":"color .6s"
                                }).hover(function(e) {
                                    $(this).css("color", e.type === "mouseenter" ? "black" : "darkgray");
                                });
                            $(closeIcon).insertAfter((inputElementid));

                        }
                        if (($(inputElementid).val().length === 0) && ($(closeiconid).length > 0)) {
                            $(closeiconid).remove();
                        }
                    });
            }
            function required(element) {
                var inputElementid = "#" + element;

                if (($(inputElementid).data("val-required")) || $(inputElementid).data("val-equalto")) {
                    $(inputElementid).attr("placeholder", $(inputElementid).attr("placeholder") + "*");
                }
            }

        });
    </script>
}