@model Vidly.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div style="padding-top: 10%;" class="row justify-content-center">
<div  class="col-xs-6 col-xs-offset-2">
    <div class="card align-self-center" style="width: 23rem;background-color: rgba(52,58,64,0.25);">

        <div class="card-body">
            <h4 style="text-align: center" class="card-title">Register</h4>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {




                @Html.AntiForgeryToken()
                
                <hr/>
               // @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="form-group">
                   

                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control",@placeholder="E-Mail"})
                    @Html.ValidationMessageFor(m=>m.Email,null,new{@class = "text-danger"})

                </div>
                <div class="form-group">
                    

                    @Html.PasswordFor(m => m.Password, new {@class = "form-control",@placeholder="Password"})
                    @Html.ValidationMessageFor(m=>m.Password,null,new{@class = "text-danger"})

                </div>
                <div class="form-group">
                   

                    @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control",@placeholder="Confirm Password"})
                    @Html.ValidationMessageFor(m=>m.ConfirmPassword, null,new{@class = "text-danger"})
                </div>
                <div class="form-group">
                  

                    @Html.TextBoxFor(m => m.DrivingLicense, new {@class = "form-control",@placeholder="Driving License"})
                    @Html.ValidationMessageFor(m => m.DrivingLicense, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    

                    @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control",@placeholder="Phone Number"})
                    @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" class="btn btn-dark form-control" value="Register"/>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
