<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
    @RenderSection("Rentals", false)
  
</head>
<body>
 
@Html.Partial("_NavBar")

<div id="maskloading">
    <div class="container" style="width: 100%; height: 100%">
        <div id="loader"></div>
    </div>
</div>


<div id="mainbody" class="container body-content">

    @RenderBody()


</div>
<footer>
    <div class="row" style="clear: both; text-align: center;">
        <div class="col"><ul class="list-group social-links">
                <li class="list-group-item"><a href="https://www.facebook.com/swap990" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li class="list-group-item"><a href="#" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li class="list-group-item"><a href="https://plus.google.com/u/1/104541414030652849679" target="_blank"><i class="ion-social-googleplus"></i></a></li>
                <li class="list-group-item"><a href="https://www.instagram.com/swapnildas10/?hl=en" target="_blank"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>
        <div class="col mx-auto my-auto">
            <p style="color: white;">Made By Swapnil Das</p>
        </div>


    </div>

</footer>

@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
<script>
    $(window).on('load',function() {
        $("#maskloading").remove();
    });
    function createNotificationIcon(element) {
        var span = $((document).createElement("span"));
        $(span).attr("id", "notification").css("visibility","hidden");
        var icon=  $((document).createElement("i")).addClass("ion-ios-circle-filled");
        var notification = $(span).append(icon);
        var result = $(element).append(notification);
      
    }
    $.fn.extend({
        animateCss: function (animationName , callback) {
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            this.addClass('animated ' + animationName).one(animationEnd, function() {
                $(this).removeClass('animated ' + animationName);
                if(callback)
                callback();
            });
            return this;
        }
    });
    var navcart = $("#nav-cart ");
    createNotificationIcon(navcart);
    $(document).ready(function() {
        $(window).scroll(function() {
           
            if ($(window).scrollTop() > 0) {
                $('#navbar').addClass('sticky-top');
            }
            if ($(window).scrollTop() < 1) {
                $('#navbar').removeClass('sticky-top');
            }
        });
    });

</script>
</body>

</html>
