@using Glimpse.Mvc.AlternateType
@using Microsoft.Ajax.Utilities
@using Vidly.Models
@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/movie-details.css" type="text/css"/>
}
<div id="maskloading">
    <div class="container" style="width: 100%;height: 100%">
        <div id="loader"></div>
    </div>
</div>
    
<div style="min-height: 100vh;" class="row">
    <div class="video-section mx-auto my-0  col-md-12 col-lg-10">
        
        <div class="row">
            <div id="poster" class="  container-fluid video-container ">
                <div style="text-align: right; float: right  " class="row">
                    <canvas width=70 height=110 id="mycanvas"><h4><i class="ion-disc"></i>@Model.NumberAvailable</h4></canvas>
                    
                    
                </div>
                <div class="row"><h2 style="color: white">@Model.Name<span  id="releasedyear"></span></h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-xs-12 mx-auto my-auto">
                        <div id="player"></div>

                    </div>
                    <div class=" col-lg-8 col-md-12 col-xs-12 mx-auto my-auto">



                        <div class="row  mx-auto my-auto">
                            <ul class="btn-group " role="group" aria-label="Basic example">
                                <li style="float: right; display: inline; font-size: 150%;" class="mr-4"><span id="PgContent"></span></li>
                                <li style="float: right; display: inline; font-size: 150%;" id="runtime" class="mr-4"><i class="ion-android-time"></i></li>
                                <li style="float: right; display: inline; font-size: 150%;" id="rating" class="mr-4"><i style="color: yellow"  class="ion-ios-star"></i></li>
                                <li style="float: right; display: inline; font-size: 150%;" id="voteCount" class="mr-4"><i  style="color: black" class="ion-ios-people"></i></li>
                                <li style="float: right; display: inline; font-size: 150%;" id="popularity" class="mr-4"><i class="ion-arrow-graph-up-right"></i></li>
                             </ul>
                        </div>
                        <br/>
                        <div style="text-align: left" class="row ">
                            <ul id="genres" class="btn-group   my-auto" role="group" aria-label="Basic example"></ul>
                        </div>
                    </div>
                </div>

                <hr/>
                <div id="tagline" class="row mx-auto my-auto">
                    <h3><q></q>
                    </h3>
                </div>
                <div class="row col-md-12 col-lg-8 col-lg-offset-5 "><br/><h4 style="color: white">Overiew</h4>
                </div>

                <div class="row">

                    <div id="overviewContent" class="col-md-12 col-sm-12 col-lg-8 col-lg-offset-5">
                    </div>
                </div>
                <div class="row">
                    <span>
                        <a class="col-md-2 col-sm-2 col-lg-2 col-lg-offset-5" id="imdb_link" target="_blank" href="">
                            
                            <img src="~/img/imdb_icon_2.ico"/>
                            
                        </a>
                        <a class="col-md-2 col-sm-2 col-lg-2 col-lg-offset-5" id="movie_Link" target="_blank" href="">
                            
                            
                        </a>
                    </span>
                </div> 
                 
            </div>

        </div>
        <div id="cast" class="row align-self-center">
            <div style="text-align: center; color: white" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto my-auto">
                <h2>Cast</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div id="carouselSlides" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselSlides" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselSlides" data-slide-to="1"></li>

                    </ol>
                    <div class="carousel-inner cast-profile" role="listbox">

                    </div>
                    <a class="carousel-control-prev" href="#carouselSlides" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselSlides" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div> 
    
    
    
    

    <div  style="padding-top: 5%;"  class="d-block container-fluid details-container  col-xs-12 col-md-12 col-lg-2">
       
        <div  class="row  align-self-center">
            
            <div style="float: right;" class="col col-lg-12">
                <div class="list-group" id="production" style="  width: auto;">
            
                     
                </div>
            </div>
            <div style="float: right;" class="col col-lg-12">
                <div class="list-group" id="crews" style="  width: auto;">
            
                     
                </div>
            </div><div style="float: right;" class="col col-lg-12">
                <div class="list-group" id="directorandwriter" style="  width: auto;">
            
                     
                </div>
            </div>
            <div class="col col-lg-12">
                 

                    <div  class="list-group" style="  width: auto;">
                         
                        <div   class="list-group-item   flex-column align-items-start ">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Released Date</h5>
                                 
                            </div>
                            <p id="releaseddate" class="mb-1"> </p>  
                        </div>
                        <div   class="list-group-item   flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Budget</h5>
                           
                            </div>
                            <p id="budget" class="mb-1"> </p>  
                        </div>
                        <div   class="list-group-item   flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Revenue</h5>
                           
                            </div>
                            <p id="revenue" class="mb-1"> </p>  
                        </div>
                        
                        
                        

                  
                </div>
            </div>
           
        </div>
        </div>

    </div>






<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

@section scripts
{@Scripts.Render("~/Bundles/jqueryval")
    <script>
        $(window).load(function() {
            $("#maskloading").remove();
        });
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;

        function onYouTubeIframeAPIReady() {
            @{ string id = !Model.YoutubeId.IsNullOrWhiteSpace() ? @Model.YoutubeId : "k2qgadSvNyU";}
            player = new YT.Player('player',
                {
                    height: '390',
                    width: '640',
                    videoId: '@id',
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }

        function stopVideo() {
            player.stopVideo();
        }


        $(document).ready(function() {
            // 2. This code loads the IFrame Player API code asynchronously.

            // var https = require('https');


            $.ajax({
                url: "/api/moviedetails/details/" + @Model.MovieDb,
                method: "GET",
                contentType: "application/JSON"
            }).done(function(success) {
                $.each(success,
                    function(key, value) {

                       console.log(key+":"+value);
                        if (key.toString() === 'tagline')
                            $('#tagline q').text(value);
                        var list = document.createElement("li");
                        $(list).addClass("list-group-item");
                        $(list).text(value);
                        if (key.toString() === 'imdbId')
                            $("#imdb_link").attr('href', 'http://www.imdb.com/title/' + value);
                        if (success['pgRated'] === false) {
                            $("#PgContent").addClass("badge  badge-success");
                            $("#PgContent").text("UG");

                        } else {
                            $("#PgContent").addClass("badge  badge-danger");
                            $("#PgContent").text("A");
                        }
                        if (key.toString() === 'overview') {
                            $("#overviewContent").append(value);
                        }
                        if (key.toString() === 'releasedDate') {
                            $("#releaseddate").text(new Date(value).toDateString());
                            $("#releasedyear").text(' (' + new Date(value).getFullYear() + ')');
                        }
                        if (key.toString() === 'revenue') {
                            var revenue = '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                            $("#revenue").text(revenue);
                        }if (key.toString()  === 'homePage') {
                            $("#movie_Link").attr('href',value);
                            $("#movie_Link").text("Movie Homepage");
                        }
                        if (key.toString() === 'budget') {
                            var num = '$' + value.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
                            $("#budget").text(num);
                        }

                        if (key.toString() === 'runtime') {
                            $("#runtime").append(value + '<span style="font-size:50%"> min</span>');
                        }
                        if (key.toString() === 'rating') {
                            $("#rating").append(value + '<span style="font-size:50%"> \/10</span>');
                        }
                        if (key.toString() === 'voteCount') {
                            $("#voteCount").append(value + '<span style="font-size:50%"> votes</span>');
                        }
                        if (key.toString() === 'posterPath') {
                            //$("#poster").attr('src',  'https://image.tmdb.org/t/p/w780' + value );
                            $("#poster").css('background-image',
                                'linear-gradient(rgba(80, 80, 80, 0.62), rgba(83, 82, 82, 0.63)),' +
                                'url(https://image.tmdb.org/t/p/original' +
                                value +
                                ')');

                        }


                        if (key.toString() === 'popularity') {
                            $("#popularity").append(Math.ceil(value));
                        }
                        var genres = $("#genres");
                        if (key.toString() === 'genres') {
                            $.each(value,
                                function(key, value) {
                                    var list = $((document).createElement("li"));
                                    $(list).addClass("list-genre mr-2");

                                    var span = $((document).createElement("span"));
                                    $(span).addClass("badge badge-info");
                                    $(span).text(value.name);
                                    $(list).append(span);
                                    genres.append(list);

                                });
                        }
                        var production = $("#production");
                        if (key.toString() === 'productionCompanies') {
                            var div = $((document).createElement("div"))
                                .addClass("d-flex w-100 justify-content-between");
                            (div).append($((document).createElement("h5")).addClass("mb-1").text("Production"));
                            var list = $((document).createElement("div"))
                                .addClass("list-group-item flex-column align-items-start");
                            list.append(div);
                            $.each(value,
                                function(key, value) {

                                    var para = $((document).createElement("p")).addClass("mb-2");
                                    $(para).text(value.name);

                                    list.append(para);


                                    production.append(list);
                                 
                                });
                        }

                        $("#description").append(list);

                    });


            });
            $.ajax({
                url: "/api/moviedetails/cast/" + @Model.MovieDb,

                method: "GET",
                contentType: "application/JSON"
            }).done(function(success) {
                
                var castProfile = $(".cast-profile");
                var divCarousel = $((document).createElement("div"))
                    .addClass("carousel-item active");
                var divCarousel3 = $((document).createElement("div"))
                    .addClass("carousel-item ");
                var divRow = $((document).createElement("div")).addClass("row");
                var divRow3 = $((document).createElement("div")).addClass("row");
                var carddeck = $((document).createElement("div")).addClass("card-deck");
                var carddeck3 = $((document).createElement("div")).addClass("card-deck");
                $(divCarousel).append(divRow);
                $(castProfile).append(divCarousel);
                $(divCarousel3).append(divRow3);
                $(divRow3).append(carddeck3);
                $(divRow).append(carddeck);
                $(castProfile).append(divCarousel3);
                var divCol3;
                var crew = $("#crews");
                var directorandwriter = $("#directorandwriter");


                    function createCard(imagesrc, name, character) {
                        
                        var card = $((document).createElement("div")).addClass("card card-actor");
                        var image = $((document).createElement("img"))
                            .addClass("card-img-top img-responsive")
                            .attr({ 'src': imagesrc, 'alt': 'Photo' });
                        var cardBlock = $((document).createElement("div")).addClass("card-block");
                        var cardTitle = $((document).createElement("h3")).addClass("card-title mt-2");
                        var cardText = $((document).createElement("p")).addClass("card-text");
                        $(cardTitle).text(name);
                        $(cardText).text(character);
                        $(cardBlock).append(cardTitle);
                        $(cardBlock).append(cardText);
                        $(card).append(image).append(cardBlock);
                        return card;
                    }
                $.each(success,
                    function(key, value) {
                        if (key === 'cast') {
                            $.each(value,
                                function (subkey, subvalue) {
                                    
                                    
                                    if (subkey < 12) {
                                        if (subkey < 6) {
                                             
                                            var divCol = $((document).createElement("div")).addClass("col col-sm-2");
                                            $(divCol).append(createCard('https://image.tmdb.org/t/p/w342' + subvalue.profile_Path, subvalue.name,subvalue.character));
                                            $(carddeck).append(divCol);

                    } else
                {
                     divCol3 = $((document).createElement("div")).addClass("col col-sm-2");
                       $(divCol3).append(createCard('https://image.tmdb.org/t/p/w154' + subvalue.profile_Path, subvalue.name,subvalue.character));
                        $(carddeck3).append(divCol3);
 }
            }
             


        });
        }

        if (key === 'crew') {
            var writers = [];
            var directors = [];
            var producers = [];

            function initlist(title) {
                var div = $((document).createElement("div")).addClass("d-flex w-100 justify-content-between");
                var list = $((document).createElement("div"))
                    .addClass("list-group-item flex-column align-items-start");
                list.append(div);
                (div).append($((document).createElement("h5")).addClass("mb-1").text(title)); //text value put    


                return list;

            };

            $.each(value,
                function(subkey, subvalue) {
                    if (subvalue.job === 'Director') {
                        directors.push(subvalue.name);

                    }
                    if (subvalue.job === 'Producer') {
                        producers.push(subvalue.name);

                    }

                    if (subvalue.job === 'Writer') {
                        writers.push(subvalue.name);
                    
                    }
                });
            var plist = initlist("Producers");
            createList(producers, plist, crew);
            var dlist = initlist("Directors");
            createList(directors, dlist, directorandwriter);
            var wlist = initlist("Writers");
            createList(writers, wlist, directorandwriter);

            function createList(array, list, listgroup) {
                $.each(array,
                    function(key, value) {

                        var para = $((document).createElement("p")).addClass("mb-1");
                        $(para).text(value);
                       
                        list.append(para);


                        listgroup.append(list);


                    });
            };


        }
        });
        }).
        fail(function(error) {

        });
        var $myCanvas = $('#mycanvas');

// rectangle shape
        setTimeout(function() {
            $myCanvas.addLayer({
                type: 'arc',
                name: 'orangeCircle',
                strokeStyle: '#363C3D',

                strokeWidth: 3,
                x: 35,
                y: 35,
                radius: 25,
                // start and end angles in degrees
                start: 0,
                end: 1
            }).drawLayers().animateLayer('orangeCircle',
                {


                    // start and end angles in degrees
                    start: 0,
                    end: 360
                },
                2000,
                function(layer) { // Callback function\

                    $(this).animateLayer(layer,
                        {
                            fillStyle: '#363C3D',
                            shadowColor: '#000',
                            shadowBlur: 5,
                            shadowX: -5,
                            shadowY: 5
                        },
                        'slow',
                        'ease-in-out');
                }).addLayer({
                name: 'stock',
                type: 'text',
                layer: true,
                fillStyle: '#211705',
                strokeWidth: 2,
                fontSize: '20pt',

                fontFamily: 'Verdana, sans-serif',
                x: 35,
                y: 35,


                text: @Model.NumberAvailable
            }).drawLayers().animateLayer('stock',
                {
                    fillStyle: '#E1FCFF'
                },
                1000,
                function(layer) {
                    $(this).animateLayer(layer,
                        {
                            animateend: function(layer) {
                                var status = '@Model.NumberAvailable' <= 0 ? "Out\nof Stock" : "CDs\nin Stock";
                                var color_code = '@Model.NumberAvailable' <= 0 ? "#C19311" : "#301130";
                                    $myCanvas.addLayer({
                                        name: 'stock_label',
                                        type: 'text',
                                        layer: true,
                                        fillStyle: '#FFE5FF',
                                        strokeWidth: 5,
                                        fontSize: '13pt',

                                        fontFamily: 'Verdana, sans-serif',
                                        x: 35,
                                        y: 90,


                                        text: status
                                    }).animateLayer('stock_label',
                                        {
                                            fillStyle: color_code
                                        },
                                        1000,
                                        function(layer) {
                                            $(this).animateLayer(layer,
                                                {
                                                    shadowColor: color_code,
                                                    shadowBlur: 2,
                                                    shadowX: -5,
                                                    shadowY: 5,
                                                    fillStyle: '#E1FCFF'
                                                },
                                                'slow',
                                                'ease-in-out'
                                            );
                                        });
                                }
                            },
                            'slow',
                            'ease-in-out');

                    });
            },
            2000);

    });

    </script>


}
