@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding: 2% 0;" class="row justify-content-center">
    <div  class="col-lg-6 col-lg-offset-2" >
        <div class="card" style="max-width: 100%;"  >
           
            <div class="card-body"  >
                <h4 style="text-align: center;" class="card-title">@Model.Title</h4>
                <div class="card-text">
                    @using (Html.BeginForm("Save", "Movies"))
                    {
                        @Html.ValidationSummary(true, "Please fix following errors")
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name,   new { @class = "form-control",@id="moviename" })

    
                            @Html.ValidationMessageFor(m => m.Name)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReleaseDate)
                            @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new {@class = "form-control",@id="formreleasedate"})
                            @Html.ValidationMessageFor(m => m.ReleaseDate)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.GenreId)
                            @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "GenreName"), "Select Genre", new
                            {
                                @class = "form-control"

                            })
                            @Html.ValidationMessageFor(m => m.GenreId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Stock)
                            @Html.TextBoxFor(m => m.Stock, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Stock)
                        </div> 
                        <div class="form-group">
                            @Html.LabelFor(m => m.Cost)
                            @Html.TextBoxFor(m => m.Cost, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Cost)
                        </div>
                        <div   class="form-group">
                            @Html.LabelFor(m =>m.YoutubeId)
                            @Html.TextBoxFor(m => m.YoutubeId, new { @class = "form-control",@id="youtubeid" })
                        
                        </div> <div class="form-group">
                                   @Html.LabelFor(m =>m.MovieDb)
                                   @Html.TextBoxFor(m => m.MovieDb, new { @class = "form-control",@id = "MovieDbId" })
                        
                               </div>
                        @Html.HiddenFor(m => m.Id)
                        @Html.AntiForgeryToken()
                        <input class="btn btn-primary form-control" type="submit" value="Save"/>
                    }
                </div>
            </div>
           
            

        </div></div></div>

@section scripts
{@Scripts.Render("~/Bundles/jqueryval")
    <script>
        $(document).ready(function() {
            var moviedbid;
            $("#MovieDbId").keyup(function (event) {
                console.log($(this).prop('value'));
                moviedbid = $(this).prop('value');
                $.ajax({
                    url:"/api/moviedetails/details/" + moviedbid,
                    method: "GET",
                    contentType: "application/JSON"
                }).done(function (success) {
                    $("#youtubeid").val(success['videos'][0].key);
                    $("#formreleasedate").val((success['releasedDate']));
                    var date = moment(success['releasedDate'], moment.ISO_8601);
                   
                }).fail(function(error) {
                     console.log(error);
                });
            });


        });

    </script>
}









 
    
   
 

